<p id="notice"><%= notice %></p>

<h1>Hackers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hackers.each do |hacker| %>
      <tr>
        <td><%= hacker.name %></td>
        <td><%= hacker.age %></td>
        <td><%= hacker.school %></td>
        <td><%= link_to 'Show', hacker %></td>
        <td><%= link_to 'Edit', edit_hacker_path(hacker) %></td>
        <td><%= link_to 'Destroy', hacker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hacker', new_hacker_path %>
